
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

html {
    background: linear-gradient(to bottom,rgb(255, 213, 94),rgb(17, 86, 149));
    background-size: cover;
    height: 100%;
}
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    
    display: block;
   
}

  
  .font {
    text-align: center;
    font-weight: bolder;
    font-size: 60px;
  }

  

  
  textarea {
    height: 10vh;
    width: 70%;
    margin: 1rem;
    padding: 1rem;
    display: block;
    margin: auto;
    text-align: center;
    border: 3px solid #0c0a0a;
    margin-bottom: 1.5rem;
    font-weight: bolder;
    font-size: large;
    
  }
  
  #btn-translate {
    background-color: #7C3AED;
    margin: 2rem 2rem 2rem 0rem ;
    font-size: large;
    font-weight: bold;
    display: block;
    color: wheat;
    max-width: 140px;
    height: 3rem;
    border-radius: 0.5rem;
  }
  
  .display {
    display: block;
    text-align: center;
    font-size: 40px;
    margin: auto;
    font-weight: bold;
    padding: 2rem 1rem;
  }
  
  #output {
    border: 3px solid #0f0f0f;
    background-color: white;
    height: 10vh;
    width: 70%;
    margin: 1rem;
    padding: 1rem;
    margin: auto;
    text-align: center;
    font-weight: bolder;
    font-size: large;
    margin-bottom: 5rem;
    font-family: 'Montserrat', sans-serif;
  }